<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.hellospringmybatis.mapper.EmpDynamicMapper">
    <insert id="insertEmpBatch">
        insert into `emp`(`name`, `age`, `salary`)
        <foreach collection="emps" item="emp" separator="," open="values">
            (#{emp.name}, #{emp.age}, #{emp.salary})
        </foreach>
    </insert>
    <update id="updateEmpByNameAndSalary">
        update `emp`
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="salary != null">
                `salary` = #{salary},
            </if>
            <if test="age != null">
                `age` = #{age},
            </if>
        </set>
        where `id` = #{id}
    </update>
    <update id="updateEmpBatch">
        <foreach collection="emps" item="emp" separator=";">
            update `emp`
            <set>
                <if test="emp.name != null">
                    `name` = #{emp.name},
                </if>
                <if test="emp.salary != null">
                    `salary` = #{emp.salary},
                </if>
                <if test="emp.age != null">
                    `age` = #{emp.age},
                </if>
            </set>
            where `id` = #{emp.id}
        </foreach>
    </update>
    <select id="getEmpByNameAndSalary" resultType="com.li.hellospringmybatis.pojo.Emp">
        select *
        from `emp`
        <where>
            <if test="name != null">
                `name` = #{name}
            </if>
            <if test="salaryMin != null">
                `salary` &gt;= #{salaryMin}
            </if>
            <if test="salaryMax != null">
                `salary` &lt;= #{salaryMax}
            </if>
        </where>
    </select>
    <select id="getEmpByNameAndSalaryByTrim" resultType="com.li.hellospringmybatis.pojo.Emp">
        select *
        from `emp`
        <trim prefix="where" prefixOverrides="and || or">
            <if test="name != null">
                `name` = #{name}
            </if>
            <if test="salaryMin != null">
                and `salary` &gt;= #{salaryMin}
            </if>
            <if test="salaryMax != null">
                and `salary` &lt;= #{salaryMax}
            </if>
        </trim>
    </select>
    <select id="getEmpByNameAndSalaryChoose" resultType="com.li.hellospringmybatis.pojo.Emp">
        select * from `emp`
        <where>
            <choose>
                <when test="name != null">
                    `name` = #{name}
                </when>
                <when test="salaryMin != null">
                    `salary` &gt;= #{salaryMin}
                </when>
                <when test="salaryMax != null">
                    `salary` &lt;= #{salaryMax}
                </when>
                <otherwise>
                    `id` = 1
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="getEmpByIds" resultType="com.li.hellospringmybatis.pojo.Emp">
        select * from `emp`
        <where>
            <foreach collection="ids" item="id" separator="or">
                `id` = #{id}
            </foreach>
        </where>
    </select>
</mapper>