<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.hellospringmybatis.mapper.EmpDynamicMapper">
    <update id="updateEmpByNameAndSalary">
        update `emp`
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="salary != null">
                `salary` = #{salary}
            </if>
            <if test="age != null">
                `age` = #{age}
            </if>
        </set>
        where `id` = #{id}
    </update>
    <select id="getEmpByNameAndSalary" resultType="com.li.hellospringmybatis.pojo.Emp">
        select *
        from `emp`
        <where>
            <if test="name != null">
                `name` = #{name}
            </if>
            <if test="salaryMin != null">
                `salary` &gt;= #{salaryMin}
            </if>
            <if test="salaryMax != null">
                `salary` &lt;= #{salaryMax}
            </if>
        </where>
    </select>
    <select id="getEmpByNameAndSalaryByTrim" resultType="com.li.hellospringmybatis.pojo.Emp">
        select *
        from `emp`
        <trim prefix="where" prefixOverrides="and || or">
            <if test="name != null">
                `name` = #{name}
            </if>
            <if test="salaryMin != null">
                and `salary` &gt;= #{salaryMin}
            </if>
            <if test="salaryMax != null">
                and `salary` &lt;= #{salaryMax}
            </if>
        </trim>
    </select>
    <select id="getEmpByNameAndSalaryChoose" resultType="com.li.hellospringmybatis.pojo.Emp">
        select * from `emp`
        <where>
            <choose>
                <when test="name != null">
                    `name` = #{name}
                </when>
                <when test="salaryMin != null">
                    `salary` &gt;= #{salaryMin}
                </when>
                <when test="salaryMax != null">
                    `salary` &lt;= #{salaryMax}
                </when>
                <otherwise>
                    `id` = 1
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>